
*{
    margin: 0;
    padding: 0;
}

.sidebar{
    width:320px;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height:100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    box-shadow: 0 1px 2px rgb(145, 144, 144);
}

.sidebar.open{
      transform: translateX(0);

}

.menu-logo{
    margin: 60px 70px;
    height: 80px;
    width: 150px;
}

.sidebar-elements{
    font-size: 20px;
    margin: 20px auto;
    text-decoration: none;
    color: inherit;

}

.closebtn{
    position: absolute;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 99px 260px;
}

.break-line{
    width:80%;
    margin: 0 auto;
}