.pp {
    margin-top: 55px;
    background-color: #eff0f3;
    /* min-width: 100vw; */
    height: 150vh;
}

.ppp {
    background-color: white;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr ;
    height: 150vh;
    width: 80%;
    min-width: 900px;
    overflow: hidden;
}

.product-description{
    width: 90%;
    margin: 0 auto;
    grid-column: 1/-1;
    font-size: 20px;
}

.product-description p{
    font-size: 20px; 
}

.ppppp {
    margin: 50px 0 0 0;
}

.product-details {
    margin-bottom: 10px;
}

#product-brand {
    font-size: 20px;
}

#product-title {
    font-size: 30px;
}

#product-price {
    font-size: 30px;
}

#product-rating {
    font-size: 20px;
}

.product-image {
    background-color: white;
    min-height: 500px;
    width: 70%;
    min-width: 400px;
    border-radius: 2px;
    margin: 50px 50px 0 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

#cart-btn {
    margin-top: 40px;
    height: 50px;
    width: 250px;
    font-size: 17px;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(240, 113, 40, 0.5);
    background-color: rgb(240, 113, 40);
    color: white;
    cursor: pointer;
}

.payment {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-top: 20px;
}

.payment-icons {
    height: 30px;
    width: 50px;
    object-fit: contain;
    margin: 0px 7px 0 10px;
    box-shadow: 0 2px 10px rgb(0, 0, 0, 0.15);
    border-radius: 2px;
}

.share {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-top: 20px;
}


.share-icons {
    height: 20px;
    width: 40px;
    object-fit: contain;
    cursor: pointer;
}

