.pp{
    margin-top: 55px;
    background-color: #eff0f3;
    /* min-width: 100vw; */
}

.ppp{
    background-color: white;
    margin: 0 auto;
    display: flex;
    height: 100vh;
    width: 80%;
    min-width: 900px;
}

.pppp{
    /* height: 50%; */
    /* width: 100%; */
    
}

.ppppp{
    margin: 50px 0 0 0;
}
.product-details{
    margin-bottom: 10px;
}
#product-brand{
    font-size: 20px;
}

#product-title{
    font-size: 30px;
}

#product-price{
    font-size: 40px;
}

#product-rating{
    font-size: 30px;
}

#product-description{
    font-size: 20px;
}


.image{
    background-color: white;
    height: 70%;
    width: 70%;
    min-width: 400px;
    border-radius: 2px;
    margin: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);


}