.pp {
    background-color: white;
    padding: 1px;
}

.ppp {
    background-color: white; 
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr ;
    height: 140vh;
    width: 80%;
    min-width: 900px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 30px;
    margin: 50px auto;
}

.ppppp {
    margin: 50px 0 0 0;
}

.product-details {
    margin-bottom: 15px;
}

#product-brand {
    font-size: 25px;
    font-weight: 550;
}

#product-title {
    font-size: 20px;
    font-weight: 400;
}

#product-price {
    font-size: 25px;
    font-weight: 500;
}

#product-rating {
    font-size: 20px;
    font-weight: 500;
}

.product-image {
    background-color: white;
    min-height: 500px;
    width: 70%;
    min-width: 400px;
    border-radius: 15px;
    margin: 50px 50px 0 50px;
    border: 1px solid rgb(156, 156, 156);
}

#cart-btn {
    height: 50px;
    width: 250px;
    font-size: 17px;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(240, 113, 40, 0.5);
    background-color: rgb(240, 113, 40);
    color: white;
    cursor: pointer;
}

.payment {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

.payment-icons {
    height: 30px;
    width: 50px;
    object-fit: contain;
    margin: 0px 7px 0 10px;
    box-shadow: 0 2px 10px rgb(0, 0, 0, 0.15);
    border-radius: 2px;
}

.share {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}


.share-icons {
    height: 20px;
    width: 40px;
    object-fit: contain;
    cursor: pointer;
}

.product-description{
    width: 90%;
    margin: 0 auto;
    grid-column: 1/-1;
    font-size: 25px;
    font-weight: 550;
}

.product-description p{
    font-size: 18px; 
    font-weight: 550;
    margin-top: 10px;
    white-space: pre-line;
    
}

