.profile{
    padding-top: 55px;
    display: grid;
    justify-items: center;
    background-color: rgb(240, 240, 240);
}

.profile-items{
    list-style-type: none;
    font-size: 30px;
    margin: 40px 0 0 80px;
}

.list-items {
    font-size: 20px;
    margin: 40px 0 40px 0;
    padding-bottom: 5px;

}

.userdata-field{
    background-color: rgb(234, 233, 233);
    margin-top: 15px;
    border: 1px solid rgb(133, 132, 132);
    padding: 13px 0px 13px 20px;
    width: 40%;
    color: rgb(111, 110, 110);
    font-size: 13px;
}


.profile-2{
    background-color: white;
    margin: 50px 0 50px 0;
    padding: 20px 0 20px 0;
    width: 75%;
    border: 1px solid rgb(224, 224, 224);
}


.genderdata-field{
    display: flex;
    font-size: 20px;
    margin-top: 15px;
    /* margin-right: 15px; */
}


.gender-btn{
    height: 18px;
    width: 18px;
    margin-right: 10px;
}

.d{
justify-items: stretch;
}

.delete-btn{
    margin-top: 150px;
    margin-left:  80px;
}
