
.cart-container0{
    background-color: #eff0f3;
    margin-top: 55px;
    padding-bottom: 30px;
    
}

.cart-container{
    width: 80%;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 2fr 1fr;
    

}

.product-container{
    background-color: white;
    margin: 50px;
    border: 1px solid rgb(232, 231, 231);
    box-shadow: 0 0 1px rgba(62, 61, 61, 0.15);
    min-width: 500px;
    width: 85%;
    padding: 20px;
    border-radius: 4px;
    font-size: 15px;

}

.price-details{
    padding: 20px;
    margin: 50px 0 50px 0;
    background-color: white;
    min-width: 300px;
    width: 85%;
    border: 1px solid rgb(232, 231, 231);
    box-shadow: 0 0 1px rgba(62, 61, 61, 0.15);
    border-radius: 4px;
    

}


.cart-heading{
    margin: 0 0 50px 0;

}
.cart-item{
display: flex
}

.item-thumbnail{
    margin: 0 20px 0 10px;
    width: 120px;
    height: 110px;
}

.item-details{
    margin: 20px 0 20px 0;
}



.item-remove-button{
    padding: 60px 0 0 20px;
    font-size: 18px;
    background-color: white;
    cursor: pointer;
    border: none;
}

.item-remove-button:hover{
    color: blue;
}



.price-details{
    /* justify-items: right; */
    /* text-align: right; */
    /* align-items:center; */
}

.payment-button{
    margin-top: 40px;
    height: 50px;
    width: 250px;
    font-size: 17px;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(240, 113, 40, 0.5);
    background-color: rgb(240, 113, 40);
    color: white;
    cursor: pointer;
}

.price-details-header{
    margin-bottom: 20px;
    font-size: 20px;
}
.price-row-container{
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.price-row{
    display: flex;
    justify-content: space-between;
    padding: 10px 2px;
    font-size: 15px;
    /* background-color: #f5f5f5; */
}