.filter-panel {
  width: 20%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

}