
.banner-section {
    margin: 32px auto 40px auto;
    height: 450px;
    width: 90%;
    border-radius: 15px;
    overflow-x: hidden;
    background-color: white;
}

.slides-container {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}


.slide {
    height: auto;
    max-width: 100%;
    transition: 1s;
    flex-shrink: 0;
}

.controls {
    position: absolute;
    /* bottom: 12px; */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}

.controls button{
    width: 60px;
    height: 30px;
    color: white;
    background-color: rgba(4, 131, 251, 0.931);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 1px 5px rgb(36, 36, 36);
}