

.footer-container{
    display: flex;
    height: 250px;
    background-color: rgb(194, 192, 192);
}

.footer-logo{
    margin-top: 70px;
    position: absolute;
    left: 10%;
}

.footer-page-section{
    display: flex;
    margin-top: 70px;
    justify-content: center;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%);
    gap: 25px;
}

.footer-page-section a{
    color: inherit;
    text-decoration: none;
}

.footer-social-section{
    display: flex; 
    margin-top: 70px;
    position: absolute;
    left: 80%;
    transform: translateX(-30%);
    gap: 25px;   
}

.footer-divider{
    width: 90%;
    height: 1px;
    background-color: rgb(176, 168, 168);
    display: flex;
    border: none;
    margin: 195px auto;
 } 
 
 
.footer-bottom{
    display: flex;
    position: absolute;
    margin: 205px auto;
    left: 10%;
    gap: 30px;

}

.btn-terms-condition{
    text-decoration: none;
    cursor: pointer;
    transition: filter 0.3s ease;
    color: rgb(35, 34, 34);
}
.btn-terms-condition:hover{
    filter: brightness(1.3);
    color: rgb(17, 16, 16);
}
