
.login-page{
    margin: 180px 0 110px 0;
    display:grid;
    justify-content: center;
}

.main-title{
justify-items: center;

}

.login-header{
    font-size: 30px;
    padding-bottom: 15px;
   
}

.username {
    margin-top: 10%;
    width: 100%;
    display: grid;
    justify-content: center;
}

.password{
    margin-top: 5%;
    width: 100%;
    display: grid;
    justify-content: center;
}

.login-field-label{
    font-size: 20px;
}



.login-input-box {
    margin-top: 15px;
    height: 50px;
    width: 700px;
    font-size: 15px;
    align-items: center;
    padding: 0 20px 0 20px ;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.login-btn{
    margin-top: 7%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #484747;
    height: 50px;
    width: 740px;
    font-size: 20px;
    cursor: pointer;
}

.login-footer{
    margin: 15px 0 0 0;
    display: flex;
    gap: 10px;
    font-size: 15px;
}

 .register-btn{
    text-decoration: underline;
    cursor: pointer;
    transition: filter 0.3s ease;
    color: rgb(77, 77, 77);
}
.register-btn:hover{
    filter: brightness(1.3);
} 