
*{
    margin: 0;
    padding: 0;
}

#navbar {
    height: 55px;
    display: flex;  
    align-items: center; 
    justify-content: space-between;
    padding: 0.5px 10px;
    background-color: white;
    box-shadow: 0 1px 5px rgb(222, 221, 221);
    gap: 80px;
}

.header-rightsection {
    margin-left: auto;
    display: flex;
    gap: 20px;
   
}

.login-button{
    display: flex;
    text-decoration: none;
    color: white;
    background-color: rgb(32, 62, 192);
    border: 6px solid rgb(32, 62, 192);
    border-radius: 6px;
}

.menu-container{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-start;
    
}

.header-website-logo{
    width: 120px;
    height: 55px;
}

.menu{
    width: 20px;
    height: 20px;
    padding-left: 10px;
    cursor: pointer;
}

.cart {
    width: 20px;
    height: 20px;
    padding-top: 5px;
    padding-right: 20px;

}

.login{
    width: 20px;
    height: 20px;
    padding-right: 5px;
}

.search-container {
    display: flex;
    flex: 1;
    justify-content: center;
    border-radius: 30px;
    min-width: 250px;
    max-width: 700px;
    margin-left: 100px;
    background-color: rgb(218, 213, 213);
}

.search-container input {
    background-color: rgb(218, 213, 213);
    font-size: 15px;
    padding-left: 15px;
    height: 35px;
    width: 100%;
    min-width: 150px;
    max-width: 740px;
    border-radius: 20px 0px 0px 20px;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.search-button{
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: #555;
    padding: 5px 8px 0 0;
    
}


.user-menu {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 50px;
  right: 0;

  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  min-width: 150px;

  /* z-index: 9999; */
}

.dropdown a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: black
}

.dropdown a:hover {
  background-color: #f2f2f2;
}



