.item-slider-section {
  align-items: center;
  display: flex;
  background-color: white;
  width: 97%;
  height: 250px;
  margin: auto;
  border-radius: 12px;
}

.item-slider-main-section{
  position: relative;
  background-color: rgba(247, 81, 119);
  width: 90%;
  border-radius: 15px;
  margin: 40px auto;
  padding-bottom: 20px;
}

.item-slider-header{
  color: white;
  padding: 20px;
  font-size: 20px;
}

.items-container {
  overflow: hidden;
  width: 100%;
}

.items-row {
  display: flex;
  transition: transform 0.5s ease;
}

.item-card {
  min-width: 20%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.item-card img {
  width: 70%;
  border-radius: 10px;

}

.slider-btn {
  transform: translateY(-10%);
  background-color: rgba(4, 131, 251, 0.931);
  border-radius: 3px;
  cursor: pointer;
  padding: 30px 10px;
  /* margin: 8px; */
  z-index: 2;
  width: 20px;
  height: 30px;
}
