.product-page{
    margin-top: 55px;
    display: flex;
    padding: 20px;
    gap: 20px;
    background-color: #eff0f3;
}

/* EACH FILTER BLOCK */
.filter-section {
  padding: 15px;
}

.filter-section-title{
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.sub-section{
    list-style: none;
    margin-top: 10px;
}