.product-page{
    margin-top: 60px;
    display: flex;
    margin-bottom: 5px;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    gap: 20px;
}


/* LEFT */
.filter-panel {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* EACH FILTER BLOCK */
.filter-section {
  /* border-bottom: 2px solid #ddd; */
  padding: 15px;
}

.filter-section-title{
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.sub-section{
    list-style: none;
    margin-top: 10px;
}

/* RIGHT */
.product-grid {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 50px;
}

/* CARD */
.product-card {
  border: 1px solid #ddd;
  padding: 10px;
}
