.product-grid {
  width: 75%;
  min-width: 1100px;
  display: grid;
  grid-template-columns: repeat(3,fr);
  gap: 20px;
  padding: 10px 40px 15px 40px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}